<header class="header border">
  <h1 class="title">Tuit Detail</h1>
</header>
<div class="content--sm">
  <div>
    <%= @tweet.user.avatar.attached? ? image_tag(@tweet.user.avatar) : image_tag("Imageanomymus.png") %>
  </div>
  <div>
    <%= @tweet.user.name %>
  </div>
  <div class="content--sm">
    <%= "@" + @tweet.user.username %>
  </div>
  <div>
    <%= time_ago_in_words(@tweet.created_at)%>
  </div>
  <div>
    <%= @tweet.body %>
  </div>
  <div class="flex flex--wrap flex--space margin-top">
    <%= link_to @tweet, class: "" do %>
      <div class="">
        <%= image_tag("Iconmessage.svg",  alt:"comments") %>
        <span>&nbsp<%= @tweet.comments_count %></span>
      </div>
    <% end %>
    <% if current_user == @tweet.user %>
    <div>
      <%= link_to  image_tag("Icontrash.svg",  alt:"trash"), tweet_path(@tweet), method: :delete, data: { confirm: "Are you sure?" }  %>
      <%= link_to  image_tag("Iconpencil.svg",  alt:"edit"), edit_tweet_path(@tweet)  %>
    </div>
    <% end %>
</div>

<hr>
    
<!--reply form-->
<%= render "form_new_comment", comment: @comment%>

<!--replies list-->
  <% @tweet.comments.each do |comment| %>
    <div>
       <%= comment.user.avatar.attached? ? image_tag(comment.user.avatar) : image_tag("Imageanonymus.svg") %>
    </div>
    <div>
      <%= comment.user.name %>
    </div>
    <div>
      <%= "@" + @tweet.user.username %>
    </div>
    <div>
      <%= time_ago_in_words(comment.created_at) + " ago"%>
    </div>
    <div>
      <%= comment.body %>
    </div>
  <% end %>