<h2 class='section--xs'>Tuit Detail</h2>
<hr>
<div class="flex gap-16 content--sm">
  <div class="img-tweet">
    <%= @tweet.user.avatar.attached? ? image_tag(@tweet.user.avatar) : image_tag("Imageanomymus.png") %>
  </div>
  <div>
    <div class="flex gap-16">
      <div class="font-bold">
        <%= @tweet.user.name %>
      </div>
      <div class="gray-300">
        <%= "@" + @tweet.user.username %>
        <%= time_ago_in_words(@tweet.created_at)%>
      </div>
    </div>
    <div class="mb-16-left">
      <%= @tweet.body %>
    </div>
  </div>
</div>
<div class="navbar">
  <div class="navbar__left">
    <%= link_to @tweet, class: "flex gap-12" do %>
      <%= image_tag("Iconmessage.svg",  alt:"comments") %>
      <p class="content--sub"><%= "#{@tweet.comments_count} comment(s)"%></p>
    <% end %>
  </div>
  <% if current_user == @tweet.user %>
  <div class="navbar__right align-center">
    <%= link_to  image_tag("Icontrash.svg",  alt:"trash"), tweet_path(@tweet), method: :delete, data: { confirm: "Are you sure?" }  %>
    <%= link_to  image_tag("Iconpencil.svg",  alt:"edit"), edit_tweet_path(@tweet)  %>
  </div>
  <% end %>
</div>

<hr>
    
<!--reply form-->
<%= render "comments/form", comment: @comment%>

<!--replies list-->
  <% @tweet.comments.reverse.each do |comment| %>
    <hr>
    <div class="flex gap-16 content--sm">
      <div class="img-tweet">
        <%= comment.user.avatar.attached? ? image_tag(comment.user.avatar) : image_tag("Imageanonymus.svg") %>
      </div>
      <div>
        <div class="flex gap-16">
          <div class="font-bold">
            <%= comment.user.name %>
          </div>
          <div class="gray-300">
            <%= "@" + comment.user.username %>
            <%= time_ago_in_words(comment.created_at) + " ago"%>
          </div>
        </div>
        <div class="mb-16-left">
          <%= comment.body %>
        </div>
      </div>
    </div>
    <div class="navbar__right btn-holder">
      <% if current_user == comment.user %>
        <div class="navbar__right">
          <%= link_to  image_tag("Icontrash.svg",  alt:"trash"), tweet_comment_path(@tweet,comment), method: :delete, data: { confirm: "Are you sure?" }  %>
          <%= link_to  image_tag("Iconpencil.svg",  alt:"edit"), edit_tweet_comment_path(@tweet,comment)  %>
        </div>
      <% end %>
    </div>
  <% end %>